# Ignore executable files
*.exe

# Ignore text files
*.txt

# Need to start keeping changlog files in case I mess up. 
# *.doc
# *.docx
# *.pdf

# Ignore Microsoft Office files
*.xls
*.xlsx
*.ppt
*.pptx

# Ignore other common Office files
*.odt
*.ods
*.odp
FieldTechTool_Full/FieldTechTool_Lite/Results/*
