# Ignore executable files
*.exe

# Ignore text files
*.txt

# Ignore PDF files
*.pdf

# Ignore Microsoft Office files
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# Ignore other common Office files
*.odt
*.ods
*.odp
FieldTechTool_Full/FieldTechTool_Lite/Results/H-CND049D2MG-LastDriveUsage.htm
FieldTechTool_Full/FieldTechTool_Lite/Results/H-CND049D2MG-LastDesktopAccess.htm
